@import url('https://fonts.googleapis.com/css?family=PT+Mono|Lobster');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');


body {
    width: 50%;
    font-family: "PT Mono", sans-serif;
    margin:0 auto;
    padding:0;
    height:100%;
    min-height: 100%

}

.btn-right{
    float: right;
}


.navbar-brand{
    font-family: Black Han Sans, sans-serif;
    font-size: 2em;
    color: black;
}

.black{
    color: black;
}

.error{
    color: red;
}

.loggedInNav{
    display: flex;
    justify-content: center;
}


.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}


h1{
    font-family: Black Han Sans, sans-serif;

}
.post{
    border: 1px dotted black;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 8%;
    border-radius:15px;
    /*background: #2BC0E4;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to top, #EAECC6, #2BC0E4);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to top, #EAECC6, #2BC0E4); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*text-align: center;*/
}

.navbar, .navbar-default{
    background:transparent;
    border: none;
}

textarea{
    height: 300px;
}

select{
    margin-bottom: 5%;
}




