<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/head :: head">
    <meta charset="UTF-8" />
    <title>Edit</title>
</head>
<body>

<div th:replace="/partials/navbar :: navbar"></div>
<div class="post">
<form th:action="@{/posts/edit}" th:method="post" th:object="${post}">
    <div class="form-group">
    <input class="form-control" th:field="*{title}" placeholder="Post Title..." />
    <br />
    <textarea class="form-control" th:field="*{body}" placeholder="Post Body..."/>
    <br />
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{user}"/><br />
    <select class="form-control" th:field="*{cat}">
        <option value="Social">Social</option>
        <option value="Political">Political</option>
        <option value="Financial">Financial</option>
        <option value="Sports">Sports</option>
        <option value="Personal">Personal</option>
        <option value="Hobby">Hobby</option>
        <option value="Music">Music</option>
        <option value="Movies">Movies</option>
        <option value="Books">Books</option>
        <option value="Art">Art</option>
        <option value="Technology">Technology</option>
        <option value="Goals">Goals</option>
        <option value="Motivation">Motivation</option>
        <option value="Style">Style</option>
        <option value="selfHelp">Self-Help</option>
    </select>
    <button class="form-control btn btn-success"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        Save Changes</button>
    </div>
</form>
    <div th:object="${post}">
<a th:href="@{/posts/{id}/delete(id=${id})}"><button class="form-control btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Post
</button></a>
    </div>

</div>
<div th:replace="/partials/footer :: footer"></div>
</body>
</html>