<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="/partials/head :: head">
    <meta charset="UTF-8" />
    <title>Show</title>
</head>
<body>

<div th:replace="/partials/navbar :: navbar"></div>

<div class="main">
    <h2 class="text-center">Build Your Own Blog</h2>
    <div th:replace="/partials/loggedInNav :: navbar"></div>

<div class="post post_color">
<h1> <span th:text="${post.title}"></span></h1>
    <p>Category: <span th:text="${post.cat}"></span> </p>

    <p> <span th:text="${post.body}"></span></p>

    <input type="hidden" id="bg_color" th:value="${post.bg_color}" />
    <input type="hidden" id="font_color" th:value="${post.font_color}" />

</div>
<a href="/posts"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> return to posts</a>


<div th:replace="/partials/footer :: footer"></div>
<div th:replace="/partials/scripts :: jQuery"></div>
<div th:replace="/partials/scripts :: logoutScript"></div>
<div th:replace="/partials/scripts :: colorScript"></div>

</div>

</body>
</html>