<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/head :: head">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>

<body>

<div class="loggedInNav" th:fragment="navbar">

<span  sec:authorize="isAuthenticated()">
        <ul>
            <a sec:authorize="isAuthenticated()" href="/posts/create"><button class="btn">New Post</button></a>
            <a sec:authorize="isAuthenticated()" href="/profile"><button class="btn">My Posts</button></a>
        </ul>
    </span>

</div>

</body>
</html>




